<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/imagenes/favicon.ico">`
        <link rel="stylesheet" href="../assets/imagenes/estilo.css"><link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/estilo.css">
        <title>THE_BAND</title>
     
    </head>
    <body>
        <header> 
            <a href="../index.html"><img src="../assets/imagenes/logoGNR.png" alt="logoguns" width="400px"></a>
            <h1>GUNS & ROSES</h1>
            <nav>
                <ul>
                    
                    <li><a href="../views/historia.html">LA BANDA</a></li>
                    <li><a href="../views/discografia.html">DISCOGRAFIA</a>
                        <ul>    
                            <li><a href="../views/videos.html">VIDEOS</a></li>

                        </ul>
            
                    </li>
                    <li><a href="../views/contacto.html">UNITE A NOSOTROS</a></li>
                </ul>
            </nav>
        </header>
    
    
    
        <main class="galeria">
            

            <div class="ab"><img src="../assets/imagenes/labanda2.png" alt="foto"></div>
            <div class="ab"><img src="../assets/imagenes/labanda1.png" alt="foto"></div>
            <div class="cd"><img src="../assets/imagenes/labanda3.png" alt="foto"></div>
            <div class="cd"><img src="../assets/imagenes/labanda5.png" alt="foto"></div>
            <div class="ef"><img src="../assets/imagenes/labanda6.png" alt="foto"></div>
            <div class="ef"><img src="../assets/imagenes/labanda7.png" alt="foto"></div>
        </main>
    </body>
</html>